.date-format {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.date-format-span {
  font-size: 35px;
  font-weight: 800;
}
.date-format-outer {
  background: #fff1f1;
  border-radius: 15px;
  margin-bottom: 20px;
}
.date-format-main {
}
.date-inner-sceond {
  background: #fff1f1;
}
.demo-left {
  border: 4px solid #ff7070;
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10PX;
  border-top-left-radius: 80px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.demo-left::-webkit-scrollbar {
  width: 0;
}
.date-inner-left {
  height: 300px;
  padding: 0 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
  margin-top: 20px;
}
.date-inner-left::-webkit-scrollbar {
  width: 5px;
}
.date-inner-left::-webkit-scrollbar-track {
  background: lightgray;
}
.date-inner-left::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}
.radio-label-left {
  font-size: 32px !important;
  font-weight: 1000 !important;
  margin-right: 10px !important;
}
.radio-main {
  padding: 0 20px;
}
.radio-outer-second .MuiSvgIcon-root {
  /* color: #ff7070 !important; */
  font-size: 28px !important;
  margin-left: 8px;
  border: none !important;
  font-weight: 900 !important;
}
.radio-outer-second {
  align-self: flex-start;
}
.update {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #ff7070;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.second-bottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.second-bottom p {
  font-size: 16px;
  font-weight: 600;
}
.second-bottom span {
  padding: 5px 25px;
  margin-right: 5px;
  height: 30px;
  border-radius: 8px;
  background-color: #ff7070;
}
.demo-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-all span{
   font-weight: 700;
   text-decoration: underline;
   cursor: pointer;
}
@media (max-width: 850px) {
  .second-bottom p {
    font-size: 15px !important;
  }
  .radio-main {
    padding: 0 5px;
  }
  .date-format-span {
    font-size: 30px;
    font-weight: 800;
  }
  .radio-outer-second .MuiSvgIcon-root {
    font-size: 25px !important;
  }
  .update {
    font-size: 17px;
  }
  .second-right {
    margin-bottom: 50px !important;
  }
  .second-bottom span {
    padding: 5px 20px !important;
    margin-right: 5px;
    height: 25px !important;
    border-radius: 8px;
    background-color: #ff7070;
  }
  .radio-label-left {
    font-size: 23px !important;
    font-weight: 800 !important;
    margin-bottom: 8px !important;
    margin-right: 4px !important;
  }
}
@media (max-width: 320px) {
    .calendar-inner{
      font-size: 12px !important;
    }
    .second-bottom p{
      font-size: 9px !important;
    }
    .demo-second button{
      font-size: 12px !important;
      padding: 8px 35px !important;
    }
    .update{
      font-size: 12px !important;
    }
    .radio-label-left{
      font-size: 14px !important;
    }
    .select-all span{
      font-size: 12px;
    }
    .date-format-span{
      font-size: 24px;
    }
}
